{% extends 'base.html' %}
{% block title %}Status List{% endblock %}
{% block content %}
<h2>Статусы</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<ul>
    {% for status in statuses %}
        <li>{{ status.name }} - <a href="{% url 'status-update' status.pk %}">Изменить</a> - <a href="{% url 'status-delete' status.pk %}">Удалить</a></li>
    {% endfor %}
</ul>
<a href="{% url 'status-create' %}" class="btn btn-primary">Создать статус</a>
{% endblock %}