{% extends 'base.html' %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h2>Удаление задачи</h2>
    <p>Вы уверены, что хотите удалить "{{ task.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Да, удалить</button>
        <a href="{% url 'task-list' %}" class="btn btn-secondary">Отменить</a>
    </form>
{% endblock %}